.tool-card {
    transition: transform 0.3s ease-in-out;
}

.tool-card:hover {
    transform: scale(1.05);
}

.tool-card .card-img-top {
    width: 100%;
    height: 150px; /* Adjust this value to your desired height */
    object-fit: cover;
}